In [252]:
import pandas as pd
from tabulate import tabulate

In [190]:
df = pd.read_csv('QUESTIONÁRIO ONLINE: Investigando a Percepção dos Desenvolvedores Brasileiros de Software  sobre Privacidade de Dados no uso de  LLMs.csv')

In [191]:
df.shape

(73, 44)

In [192]:
df.columns

Index(['Carimbo de data/hora', 'Você concorda em participar desta pesquisa?',
       '1. Qual a sua idade?', '2. Em qual Estado você mora?',
       '3. Qual seu nível de escolaridade?',
       '4. Qual é a sua principal função atualmente na área de desenvolvimento de software?',
       '5. Quantos anos de experiência você tem trabalhando em desenvolvimento de software?',
       '6. Qual seu nível de conhecimento sobre privacidade de dados?',
       '7. Você já participou de treinamentos ou cursos sobre privacidade de dados? ',
       '8. Qual sua principal fonte de informação sobre privacidade de dados? ',
       '9.  Qual seu nível de conhecimento sobre a Lei Geral de Proteção de Dados (LGPD)? ',
       '10. Qual seu nível de conhecimento sobre os princípios da Lei Geral de Proteção de Dados (LGPD)? ',
       '11. Quais são os principais princípios da LGPD que você conhece? (Marque todas as opções que se aplicam)',
       '12. Quais dos seguintes conceitos de proteção de dados da LGPD você está familiarizado? (Marque todas as opções que se aplicam)',
       '13. Qual o seu nível de conhecimento sobre as diferenças entre dados pessoais e dados sensíveis? ',
       '14. Qual o seu nível de conhecimento sobre os direitos dos titulares de dados sob a LGPD?',
       '15. Como você garantiria a privacidade de dados em um sistema de software?',
       '16. Como você classificaria seu conhecimento sobre LLMs? ',
       '17. Quais LLMs você já utilizou ou está familiarizado? (Marque todas as opções que se aplicam)',
       '18. Você já participou de treinamentos ou cursos sobre LLMs? ',
       '19. Como você utiliza LLMs em suas atividades profissionais?',
       '20. Na sua opinião, você possui um bom entendimento das capacidades e limitações dos LLMs? ',
       '21. Quais das seguintes aplicações de LLMs você conhece ou já utilizou? (Marque todas as opções que se aplicam)',
       '22. Qual o seu nível de conhecimento sobre os riscos à privacidade associados ao uso de LLMs? ',
       '23. Quais dos seguintes riscos à privacidade você associa ao uso de LLMs? (Marque todos que se aplicam)',
       '24. Quais são os principais riscos à privacidade que você associa ao uso de LLMs? ',
       '25. Na sua opinião, qual o nível de risco de privacidade associado ao uso de LLMs em seus projetos?',
       '26. Qual sua opinião sobre o treinamento de LLMs sem comprometer a privacidade dos dados?',
       '27. Quais tipos de dados pessoais você considera mais sensíveis ao serem processados por Large Language Models (LLMs)? (Marque todas as opções que se aplicam)',
       '28. Qual a sua avaliação da probabilidade de ocorrência de violações de dados relacionadas ao uso de LLMs?',
       '29. Qual o seu nível de preocupação com o impacto de violações de dados relacionadas ao uso de LLMs?',
       '30. Quais medidas você toma para mitigar os riscos de privacidade ao usar LLMs? ',
       '31. Para proteger sua privacidade ao usar LLMs, você adota alguma prática específica? (Marque todas as opções que se aplicam)',
       '32. Como você lida com dados sensíveis ao utilizar LLMs? ',
       '33. Antes de utilizar seus dados com LLMs, você toma alguma medida para protegê-los, como anonimização ou pseudonimização? ',
       'Quais os principais desafios que você enfrenta ao implementar práticas de privacidade ao usar LLMs? (Marque todas as opções que se aplicam)',
       '35. Quais dos seguintes desafios você considera mais difíceis ao garantir a privacidade de dados ao usar LLMs em suas atividades profissionais? (Marque todas as opções que se aplicam)',
       '36. Você acha que a legislação atual é adequada para proteger a privacidade de dados ao usar LLMs? ',
       '37. Você tem dificuldades em encontrar informações ou recursos sobre privacidade de dados ao usar LLMs? ',
       '38. Como a falta de conhecimento específico sobre privacidade de dados afeta seu trabalho com LLMs? (Marque todas as opções que se aplicam)',
       '39. Quais recomendações você daria para outros desenvolvedores sobre como proteger a privacidade de dados ao usar LLMs?',
       '40. Na sua opinião, mais treinamentos e cursos sobre privacidade de dados e LLMs são necessários?',
       '41.  Na sua opinião, quão importante é ter uma cultura organizacional que aborda a privacidade de dados ao usar LLMs? ',
       '42. Que tipo de suporte ou recursos adicionais você acredita que seriam úteis para melhorar a proteção da privacidade de dados ao usar LLMs? (Marque todas as opções que se aplicam)'],
      dtype='object')

In [250]:
idade_sts = df['1. Qual a sua idade?'].value_counts().to_frame()
idade_sts = idade_sts.sort_index(ascending=True)
idade_sts = idade_sts.reset_index(drop=False)
idade_sts = idade_sts.rename(columns={'index': 'Faixa Etária'})
idade_sts.rename(columns={'1. Qual a sua idade?': 'qtde'}, inplace=True)
idade_sts['pct'] = ((idade_sts['qtde']/df.shape[0])*100).round(1)
idade_sts

         Faixa Etária  qtde   pct
0  Entre 26 e 30 anos     4   5.5
1  Entre 31 e 36 anos    11  15.1
2  Entre 37 e 42 anos    23  31.5
3  Entre 43 e 47 anos    20  27.4
4  Entre 48 e 54 anos    12  16.4
5  Entre 55 a 60 anos     3   4.1

In [254]:
# Criando a tabela LaTeX com o pacote `tabulate`
tabela_latex = tabulate(idade_sts, floatfmt=".1f", tablefmt="latex", showindex="False")

# Imprimindo a tabela LaTeX
print(tabela_latex)

\begin{tabular}{lrr}
\hline
 Entre 26 e 30 anos &  4 &  5.5 \\
 Entre 31 e 36 anos & 11 & 15.1 \\
 Entre 37 e 42 anos & 23 & 31.5 \\
 Entre 43 e 47 anos & 20 & 27.4 \\
 Entre 48 e 54 anos & 12 & 16.4 \\
 Entre 55 a 60 anos &  3 &  4.1 \\
\hline
\end{tabular}

In [255]:
estados_regiao = {
    "AC": "Norte",
    "AL": "Nordeste",
    "AM": "Norte",
    "AP": "Norte",
    "BA": "Nordeste",
    "CE": "Nordeste",
    "DF": "Centro-Oeste",
    "ES": "Sudeste",
    "GO": "Centro-Oeste",
    "MA": "Nordeste",
    "MG": "Sudeste",
    "MS": "Centro-Oeste",
    "MT": "Centro-Oeste",
    "PA": "Norte",
    "PB": "Nordeste",
    "PE": "Nordeste",
    "PI": "Nordeste",
    "PR": "Sul",
    "RJ": "Sudeste",
    "RN": "Nordeste",
    "RS": "Sul",
    "RO": "Norte",
    "RR": "Norte",
    "SC": "Sul",
    "SE": "Nordeste",
    "SP": "Sudeste",
    "TO": "Norte",
    "Nenhum (moro fora do Brasil)":"Exterior"
}

In [283]:
estado_moradia = df["2. Em qual Estado você mora?"].to_frame()
estado_moradia["Região"] = estado_moradia['2. Em qual Estado você mora?'].map(estados_regiao)
estado_moradia_sts = estado_moradia["Região"].value_counts().to_frame()

estado_moradia_sts = estado_moradia_sts.sort_index(ascending=True)
estado_moradia_sts = estado_moradia_sts.reset_index(drop=False)
estado_moradia_sts = estado_moradia_sts.rename(columns={'index': 'regiao_brasil','Região':'qtde'})

estado_moradia_sts['pct'] = ((estado_moradia_sts['qtde']/df.shape[0])*100).round(1)

estado_moradia_sts

  regiao_brasil  qtde   pct
0  Centro-Oeste    59  80.8
1      Exterior     1   1.4
2      Nordeste     1   1.4
3         Norte     3   4.1
4       Sudeste     6   8.2
5           Sul     3   4.1

In [284]:
# Criando a tabela LaTeX com o pacote `tabulate`
tabela_latex = tabulate(estado_moradia_sts, floatfmt=".1f", tablefmt="latex", showindex="False")

# Imprimindo a tabela LaTeX
print(tabela_latex)

\begin{tabular}{lrr}
\hline
 Centro-Oeste & 59 & 80.8 \\
 Exterior     &  1 &  1.4 \\
 Nordeste     &  1 &  1.4 \\
 Norte        &  3 &  4.1 \\
 Sudeste      &  6 &  8.2 \\
 Sul          &  3 &  4.1 \\
\hline
\end{tabular}

In [280]:
sum(estado_moradia_sts['qtde'])

73

In [7]:
estado_moradia = df["2. Em qual Estado você mora?"]
estado_moradia = estado_moradia.to_frame("uf")
estado_moradia["Região"] = estado_moradia['uf'].map(estados_regiao)
regiao_moradia = estado_moradia["Região"].value_counts()
regiao_moradia = regiao_moradia.to_frame("qtde")

regiao_moradia_pct = ((regiao_moradia['qtde'] / estado_moradia.shape[0])*100).round(1)
regiao_moradia_pct = regiao_moradia_pct.to_frame("pct")
df_final = pd.concat([regiao_moradia,regiao_moradia_pct], axis=1)
df_final = df_final.sort_index(ascending=True)
df_final

              qtde   pct
Centro-Oeste    58  80.6
Exterior         1   1.4
Nordeste         1   1.4
Norte            3   4.2
Sudeste          6   8.3
Sul              3   4.2

In [8]:
nivel_escolaridade = df["3. Qual seu nível de escolaridade?"]
nivel_escolaridade_qtde_frame = nivel_escolaridade.value_counts().rename_axis("qtde").to_frame("qtde")
#nivel_escolaridade_qtde_frame

nivel_escolaridade_pct_frame = (((nivel_escolaridade.value_counts()/nivel_escolaridade.shape[0])*100).round(1)).to_frame("pct")
#nivel_escolaridade_pct_frame

df_final = pd.concat([nivel_escolaridade_qtde_frame,nivel_escolaridade_pct_frame], axis=1)
#df_final = df_final.sort_index(ascending=True)
df_final

                                                  qtde   pct
Pós-graduação Lato Sensu (Especialização) ou MBA    42  58.3
Graduado                                            13  18.1
Mestrado                                            10  13.9
Doutorado                                            6   8.3

In [10]:
#df_temp = df["4. Qual é a sua principal função atualmente na área de desenvolvimento de software?"]
perfil = df["4. Qual é a sua principal função atualmente na área de desenvolvimento de software?"].replace(["Teste", "AppSec","Administrador de Banco de Dados"], ["Analista de qualidade e/ou testador", "Analista de Segurança de TI","Administrador de Dados"])
perfil_qtde_frame = perfil.value_counts().rename_axis("qtde").to_frame("qtde")
#perfil_qtde_frame
perfil_pct_frame = (((perfil.value_counts()/nivel_escolaridade.shape[0])*100).round(1)).to_frame("pct")
df_final = pd.concat([perfil_qtde_frame,perfil_pct_frame], axis=1)
df_final = df_final.sort_index(ascending=True)
df_final

                                     qtde   pct
Administrador de Dados                  1   1.4
Analista de Segurança de TI             2   2.8
Analista de qualidade e/ou testador     6   8.3
Analista de requisitos                  2   2.8
Arquiteto de Software                   7   9.7
Dono do Produto (Product Owner)         2   2.8
Engenheiro DevOps                       5   6.9
Engenheiro e/ou analista de dados       6   8.3
Gerente de projeto                      9  12.5
Líder técnico e/ou de equipe           10  13.9
Programador e/ou desenvolvedor         19  26.4
Scrum Master                            3   4.2

In [11]:
experiencia = df["5. Quantos anos de experiência você tem trabalhando em desenvolvimento de software?"]
experiencia_qtde_frame = experiencia.value_counts().rename_axis("qtde").to_frame("qtde")
#experiencia_qtde_frame

experiencia_pct_frame = (((experiencia.value_counts()/experiencia.shape[0])*100).round(1)).to_frame("pct")
#experiencia_pct_frame

df_final = pd.concat([experiencia_qtde_frame,experiencia_pct_frame], axis=1)
#df_final = df_final.sort_index(ascending=True)
df_final

                    qtde   pct
Mais de 15 anos       38  52.8
Entre 10 e 12 anos    10  13.9
Entre 13 e 15 anos     6   8.3
Entre 7 e 9 anos       6   8.3
Entre 4 e 6 anos       5   6.9
Entre 1 e 3 anos       5   6.9
Menos de 1 ano         2   2.8

In [191]:
conhecimento_privacidade = df["6. Qual seu nível de conhecimento sobre privacidade de dados?"].to_frame()
conhecimento_privacidade = conhecimento_privacidade["6. Qual seu nível de conhecimento sobre privacidade de dados?"].str.split('(', expand=True)[0]
conhecimento_privacidade.value_counts()

Conhecimento básico       37
Conhecimento bom          22
Conhecimento completo      7
Noções básicas             6
Name: 0, dtype: int64

In [192]:
conhecimento_privacidade = conhecimento_privacidade.to_frame()
conhecimento_privacidade['#'] = range(1,len(conhecimento_privacidade)+1)
conhecimento_privacidade = conhecimento_privacidade.set_index(['#'])
conhecimento_privacidade.rename(columns={0: 'Q6'}, inplace=True)
conhecimento_privacidade

                        Q6
#
1   Conhecimento completo
2        Conhecimento bom
3        Conhecimento bom
4     Conhecimento básico
5     Conhecimento básico
..                     ...
68         Noções básicas
69       Conhecimento bom
70    Conhecimento básico
71    Conhecimento básico
72    Conhecimento básico

[72 rows x 1 columns]

In [96]:
conhecimento_privacidade = conhecimento_privacidade.to_frame()
conhecimento_privacidade.set_index(range(1, len(conhecimento_privacidade) + 1))

KeyError: 'None of [range(1, 73)] are in the columns'

In [101]:
conhecimento_privacidade.to_frame().reset_index()

    index                       0
0       0  Conhecimento completo
1       1       Conhecimento bom
2       2       Conhecimento bom
3       3    Conhecimento básico
4       4    Conhecimento básico
..    ...                     ...
67     67         Noções básicas
68     68       Conhecimento bom
69     69    Conhecimento básico
70     70    Conhecimento básico
71     71    Conhecimento básico

[72 rows x 2 columns]

In [79]:
conhecimento_privacidade_series = conhecimento_privacidade.reset_index(drop=True)
conhecimento_privacidade = conhecimento_privacidade_series.to_frame()

In [84]:
range(1, len(conhecimento_privacidade))

range(1, 72)

In [56]:
conhecimento_privacidade = pd.DataFrame(conhecimento_privacidade)
conhecimento_privacidade = conhecimento_privacidade.set_index(range(1, len(conhecimento_privacidade) + 1))
conhecimento_privacidade

KeyError: 'None of [range(1, 73)] are in the columns'

In [97]:
conhecimento_privacidade_2 = conhecimento_privacidade["6. Qual seu nível de conhecimento sobre privacidade de dados?"].replace(["Conhecimento bom", "Conhecimento completo"], ["Conhecimento intermediário", "Conhecimento avançado"])
conhecimento_privacidade_2.value_counts()
conhecimento_privacidade_2

KeyError: '6. Qual seu nível de conhecimento sobre privacidade de dados?'